<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Glowing lab diary</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="static/dashboard.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="static/favicon.png" />
</head>
<body>
      <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Dashboard</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "api_root" %}">API</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin">Admin</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>
    <div id="app">
      <div class="container-fluid">
        <div class="row">
          <div class="ml-sm-auto col-md pt-3">
            <h1>Dashboard</h1>
            <div class="grid_filters">
              <div class="status_filters">
                <h2>Status</h2>
                <div class="card card-above-title">
                  <div class="card-body">
                  {% for st in status %}
                    <button type="button" :class="'btn btn-sm ' + getStatusSpecificClasses({{st.id}})" @click.prevent="filterByStatus({{st.id}})" id="button_status_{{st.id}}">
                      {{st.content}} <span class="badge badge-light">${ status[{{st.id}}].nb }</span>
                    </button>
                  {% endfor %}
                  </div>
                </div>
              </div>
              <div>
                <h2>Tags</h2>
                <div class="card card-above-title">
                  <div class="card-body">
                  {% for tag in tags %}
                    <button type="button" :class="'btn ' + getTagSpecificClasses({{tag.id}})" @click.prevent="filterByTag({{tag.id}})" id="button_tag_{{tag.id}}">
                      {{tag}} <span class="badge badge-light">${ tags[{{tag.id}}].nb }</span>
                    </button>
                  {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            <h2>Add a message</h2>
            <p>
              <form class="new_message">
                <div class="input-group">
                  <select class="custom-select" v-model="tagsNewMessage">
                    {% for tag in tags %}
                        <option value="{{tag.id}}">{{tag}}</option>
                    {% endfor %}
                  </select>
                  <input type="text" class="form-control" v-model="contentNewMessage">
                  <div class="input-group-append">
                    <button class="btn btn-success" @click.prevent="addEntry">Submit</button>
                  </div>
                </div>
              </form>
            </p>

            <h2>Messages</h2>
            <div class="grid_entries">
              <template v-for="entry in entries">
                <template v-if="isEntryTagSelected(entry) && isEntryStatusSelected(entry)">
                  <div>
                    <button v-if="entry.status" type="button" :class="'btn ' + entry.status.css_class + ' btn-sm'" @click.prevent="changeStatus(entry)">${ entry.status.content }</button>
                  </div>
                  <div>
                    ${ entry.added_date }
                  </div>
                  <div>
                    <p @click.prevent="editEntry(entry)" v-if="isEdited(entry)">${ entry.comments }</p>
                    <form v-else @submit.prevent="submitEditEntry">
                      <input type="text" v-model="contentEditedMessage" style="width:100%" />
                    </form>
                  </div>
                  <div class="small small-line">
                    <template v-for="tag in entry.tags">
                      <button v-if="!isConfirmingDeletionTag(tag, entry)" class="btn btn-xsm btn-dark" @click.prevent="deleteTagFromEntry(tag, entry)">${ tags[tag].name }</button>
                      <div v-else class="btn-group" role="group" aria-label="Basic example">
                        <button class="btn btn-xsm btn-danger" @click.prevent="sureDeleteTagFromEntry(tag, entry)">Delete</button>
                        <button class="btn btn-xsm btn-primary" @click.prevent="abortDeleteTagFromEntry(tag, entry)">Abort</button>
                      </div>
                    </template>
                    <button v-if="!isAddingTagEntry(entry)" class="btn btn-xsm btn-success" @click.prevent="triggerAddTagToEntry(entry)">Add</button>
                    <template v-else>
                      <select class="form-control form-control-xsm notfullsize" v-model="addingTag">
                        {% for tag in tags %}
                            <option value="{{tag.id}}">{{tag}}</option>
                        {% endfor %}
                      </select>
                      <button class="btn btn-xsm btn-success" @click.prevent="addTagToEntry(entry)">Send</button>
                    </template>
                  </div>
                  <div>
                    <button v-if="!isConfirmingDeletion(entry)" type="button" class="btn btn-dark btn-sm" @click.prevent="deleteEntry(entry)">Delete</button>
                    <div v-else class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-danger btn-sm" @click.prevent="sureDeleteEntry(entry)">Yes</button>
                      <button class="btn btn-sm btn-primary" @click.prevent="abortDeleteEntry(entry)">No</button>
                    </div>
                  </div>
                </template>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script type="text/javascript">
         function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        
        var app = new Vue({
          el: '#app',
          delimiters: ['${', '}'],
          data: {
            message: 'Hello Vue!',
            // list of entries linked to tags
            tags: {
              {% for tag in tags.all %}{{tag.id}}: {
                  name: "{{tag}}",
                  nb: {{tag.entries.all|length}},
                  entries: [{% for entry in tag.entries.all %}{{entry.id}}, {% endfor %}],
                  selected: false
              },
              {% endfor %}
            },

            // list of entries linked to status
            status: {
              {% for st in status.all %}{{st.id}}: {
                  name: "{{st.content}}",
                  css_class: "{{st.css_class}}",
                  nb: {{st.entries.all|length}},
                  entries: [{% for entry in st.entries.all %}{{entry.id}}, {% endfor %}],
                  selected: false,
              },
              {% endfor %}
            },
            
            // list of entries
            entries: {
              {% for entry in entries %}
                {{ entry.id }}: {
                  comments: '{{entry.comments|escapejs}}',
                  id: {{entry.id}},
                  added_date: '{{entry.added_date}}',
                  status: {
                    id: '{{entry.status.id}}',
                    content: '{{entry.status.content}}',
                    css_class: '{{entry.status.css_class}}'
                  },
                  tags: [{% for tag in entry.tags.all %}{{tag.id}},{% endfor %}],
                  nbTagsLinkedSelected: 0,
                },
              {% endfor %}
            },
            statusSelected: 0,
            nbTagsSelected: 0,
            contentNewMessage: "",
            tagsNewMessage: "",
            contentEditedMessage: "",
            currentEditedMessage: 0,
            deletingEntry: 0,
            deletingTag: 0,
            deletingTagEntry: 0,
            addingTag: 0,
            addTagEntry: 0,
          },

          methods: {
            filterByTag(tagId){
              // changes button status
              this.tags[tagId].selected = !this.tags[tagId].selected

              // if the tag is now selected, nbTagsSelected and nbTagsLinkedSelected is incremented
              if( this.tags[tagId].selected ){
                this.nbTagsSelected++
                for (var i = 0; i < this.tags[tagId].entries.length; i++) {
                  this.entries[this.tags[tagId].entries[i]].nbTagsLinkedSelected++;
                }
              }
              // otherwise, it is decremented
              else{
                this.nbTagsSelected = Math.max(this.nbTagsSelected-1, 0)
                for (var i = 0; i < this.tags[tagId].entries.length; i++) {
                  this.entries[this.tags[tagId].entries[i]].nbTagsLinkedSelected = Math.max(this.entries[this.tags[tagId].entries[i]].nbTagsLinkedSelected-1, 0);
                }
              }
            },

            filterByStatus(statusId){
              this.statusSelected = statusId == this.statusSelected ? 0 : statusId
            },

            isTagSelected(tagId) {
              return this.tags[tagId].selected
            },

            getTagSpecificClasses(tagId){
              if(this.isTagSelected(tagId)){
                return "btn-primary"
              }else {
                return "btn-secondary"
              }
            },

            getStatusSpecificClasses(statusId){
              if(this.statusSelected == statusId){
                return this.status[statusId].css_class
              }else{
                return this.status[statusId].css_class.replace("btn-", "btn-outline-")
              }
            },

            changeStatus(entry){
              let url = "{% url "status_change" 0 %}".replace('0', entry.id)
              axios.get(url)
              .then((response) => {
                this.status[this.entries[entry.id].status.id].nb--
                this.entries[entry.id].status = response.data
                this.status[this.entries[entry.id].status.id].nb++
                this.$forceUpdate();
              })
              .catch((error) => {
                console.log(error);
              });
            },

            editEntry(entry){
              this.contentEditedMessage = entry.comments
              this.currentEditedMessage = entry.id
            },

            submitEditEntry(){
              let entry = this.entries[this.currentEditedMessage]
              let url = "{% url "entry_detail" 0 %}".replace('0', entry.id)
              let csrftoken = getCookie('csrftoken');

              let authOptions = {
                method: 'PUT',
                url: url,
                data: {"comments": this.contentEditedMessage, "tags": entry.tags},
                headers: {
                  "X-CSRFToken": csrftoken
                }
              };
              let new_content = this.contentEditedMessage;
              axios(authOptions).then((response) => {
                this.entries[entry.id].comments = new_content
                
              })
              .catch((error) => {
                console.log(error);
              });

              this.contentEditedMessage = "";
              this.currentEditedMessage = 0;
            },

            isEdited(entry){
              return this.currentEditedMessage != entry.id
            },

            addEntry(){
              let csrftoken = getCookie('csrftoken');
              let tagId = parseInt(this.tagsNewMessage)
              let authOptions = {
                method: 'POST',
                url: "{% url "entry_new" %}",
                data: {"entry": this.contentNewMessage, "tags": [tagId]},
                headers: {
                  "X-CSRFToken": csrftoken
                }
              };
              axios(authOptions).then((response) => {
                if(response.url !== undefined && response.url != authOptions.url){
                  console.log("Error, redirection...");
                  console.log(response.url);
                }else{
                  let new_entry = response.data;
                  this.entries[new_entry.id] = {
                    comments: new_entry.comments,
                    id: new_entry.id,
                    added_date: new_entry.added_date,
                    status: {
                      id: new_entry.status_dict.id,
                      content: new_entry.status_dict.content,
                      css_class: new_entry.status_dict.css_class
                    },
                    tags: new_entry.tags,
                    nbTagsLinkedSelected: 0,
                  }
                  new_entry.tags.forEach(tag => {
                    this.tags[tag].nb++
                    this.tags[tag].entries.push(new_entry.id)
                  })
                  this.status[new_entry.status_dict.id].nb++
                  this.$forceUpdate();
                }
              })
              .catch((error) => {
                console.log(error);
              });
              this.contentNewMessage = ""
              this.tagsNewMessage = ""
            },

            deleteEntry(entry) {
              this.deletingEntry = entry.id;
            },

            abortDeleteEntry(entry) {
              this.deletingEntry = 0;
            },


            sureDeleteEntry(entry) {
              let url = "{% url "entry_detail" 0 %}".replace('0', entry.id)
              let csrftoken = getCookie('csrftoken');
              let authOptions = {
                method: 'DELETE',
                url: url,
                headers: {
                  "X-CSRFToken": csrftoken
                }
              };
              axios(authOptions).then((response) => {
                if(response.url !== undefined && response.url != authOptions.url){
                  console.log("Error, redirection...");
                  console.log(response.url);
                }else{
                  let tags = this.entries[entry.id].tags;
                  this.status[this.entries[entry.id].status.id].nb--
                  tags.forEach(tag => {
                    this.tags[tag].nb--
                    let indexTagEntries = this.tags[tag].entries.indexOf(entry.id);
                    if (indexTagEntries !== -1){
                      this.tags[tag].entries.splice(indexTagEntries, 1);
                    }
                  })
                  delete this.entries[entry.id];
                  this.$forceUpdate();
                }
              })
              .catch((error) => {
                console.log(error);
              });
              this.deletingEntry = 0
            },
            
            deleteTagFromEntry(tag, entry) {
              this.deletingTag = tag;
              this.deletingTagEntry = entry.id;
            },
            
            abortDeleteTagFromEntry(tag, entry) {
              this.deletingTag = 0;
              this.deletingTagEntry = 0;
            },

            sureDeleteTagFromEntry(tag_id, entry) {
              let url = "{% url "entry_remove_tag" 0 0 %}".replace('entry/0', 'entry/' + entry.id).replace('/0/', '/' + tag_id + '/')
              let csrftoken = getCookie('csrftoken');
              let authOptions = {
                method: 'GET',
                url: url,
                headers: {
                  "X-CSRFToken": csrftoken
                }
              };
              axios(authOptions).then((response) => {
                if(response.url !== undefined && response.url != authOptions.url){
                  console.log("Error, redirection...");
                  console.log(response.url);
                }else{
                  let index = this.entries[entry.id].tags.indexOf(tag_id);
                  if (index !== -1){
                    this.entries[entry.id].tags.splice(index, 1);
                    this.tags[tag_id].nb--
                    
                    let indexTagEntries = this.tags[tag_id].entries.indexOf(entry.id);
                    if (indexTagEntries !== -1){
                      this.tags[tag_id].entries.splice(indexTagEntries, 1);
                    }
                  }
                  this.$forceUpdate();
                }
              })
              .catch((error) => {
                console.log(error);
              });
              this.deletingTag = 0
              this.deletingTagEntry = 0
            },

            isConfirmingDeletion(entry) {
              return this.deletingEntry == entry.id
            },

            isAddingTagEntry(entry) {
              return this.addTagEntry == entry.id
            },

            isConfirmingDeletionTag(tag, entry) {
              return this.deletingTag == tag && this.deletingTagEntry == entry.id
            },

            triggerAddTagToEntry(entry) {
              this.addingTag = 0;
              this.addTagEntry = entry.id;
            },

            addTagToEntry(entry){
              let tag_id = parseInt(this.addingTag, 10)
              let url = "{% url "entry_add_tag" 0 0 %}".replace('entry/0', 'entry/' + entry.id).replace('/0/', '/' + tag_id + '/')
              let csrftoken = getCookie('csrftoken');
              let authOptions = {
                method: 'GET',
                url: url,
                headers: {
                  "X-CSRFToken": csrftoken
                }
              };
              axios(authOptions).then((response) => {
                if(response.url !== undefined && response.url != authOptions.url){
                  console.log("Error, redirection...");
                  console.log(response.url);
                }else{
                  let index = this.entries[entry.id].tags.indexOf(tag_id);
                  if (index === -1){
                    this.tags[tag_id].nb++
                    this.entries[entry.id].tags.push(tag_id)
                    this.tags[tag_id].entries.push(entry.id);
                  }
                  this.$forceUpdate();
                }
              })
              .catch((error) => {
                console.log(error);
              });
              this.addingTag = 0
              this.addTagEntry = 0
            },

            isEntryStatusSelected(entry) {
              return this.statusSelected == 0 || entry.status.id == this.statusSelected
            },

            isEntryTagSelected(entry) {
              return entry.nbTagsLinkedSelected > 0 || this.nbTagsSelected == 0
            },

          }
        })
    </script>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
